<body>
<div class="d-flex justify-content-center align-items-center">
<div class="col-md-5 col-md-offset-6" id="mainlogin">
    <div class="fm"  *ngIf="!isLoggedIn">
    <div style="text-align: center;" id="head" >
      <a routerLink="/login" *ngIf="!isLoggedIn" id="lgn">Login to your account</a> <br>
      <p>Don't have an account?<a routerLink="/register" id="sgn">Sign Up</a> </p>
    </div>
    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          #email="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && email.invalid"
        >
        Email is required!
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel" />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && password.invalid"
        >
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters
          </div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary btn-block" id="btn">
          Login
        </button>
      </div>
      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && isLoginFailed"
        >
          Login failed: {{ errorMessage }}
        </div>
      </div>
    </form>
  </div>
</div>
</div>
</body>
